body.sign-in-page {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333333;
  margin-bottom: 20px;
  font-weight: bold;
}

.form-label {
  font-weight: 600;
  color: #555555;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0056b3;
  transition: background-color 0.3s;
}
body.sign-up-page {
  background-color: azure;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 400px;
  background-color: rgb(128, 242, 242);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #333333;
  margin-bottom: 20px;
  font-weight: bold;
}
.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #bef56d;
  transition: background-color 0.3s;
}
@media (max-width: 768px) {
  body.sign-in-page,
  body.sign-up-page {
    padding: 10px;
    flex-direction: column;
  }

  .container {
    width: 100%;
    max-width: 95%;
    padding: 20px;
    box-shadow: none;
  }

  h2 {
    font-size: 18px;
    text-align: center;
  }

  .form-label {
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
    padding: 8px;
  }

  .btn-primary {
    width: 100%;
    font-size: 14px;
    padding: 8px 15px;
  }
}
